.active-book {
  padding: 1em;
  line-height: 1.5em;
  overflow: hidden;
}

.active-cover {
  width: 65vw;
}

.controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.controlbtn {
  width: 30%;
  height: 7vh;
  background-color: #efdecd;
  border: none;
  color: #44413c;
  box-shadow: 1px 1px 1px #8e8989,
    -1px -1px 1px #dfdbdb;
  border-radius: 10px;
  margin: 0.5em;
}

.datectrl {
  font-size: 1em;
}


@media only screen and (min-width: 500px) {
  .active-cover {
    width: 45vw;
  }
}

@media only screen and (min-width: 700px) {
  .active-cover {
    width: 38vw;
  }
}

@media only screen and (min-width: 800px) {
  .active-cover {
    width: 35vw;
  }
}

@media only screen and (min-width: 900px) {
  .active-cover {
    width: 30vw;
  }
}

@media only screen and (min-width: 1000px) {
  .active-cover {
    width: 20vw;
  }
}
